Data science  intern at  codeclause

Project: Customer Segment Predection

Name: Venkata Akshay

In [49]:
#install kaggle
!pip install -q kaggle

In [2]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"akshayvaranasi0505","key":"5308871b9134bf4985dd018aa1eb070e"}'}

In [3]:
#create a kaggle folder
!mkdir ~/.kaggle

In [4]:
#copy the kaggle.json to the folder created
! cp kaggle.json ~/.kaggle/

In [5]:
#permission for the json to act
! chmod 600 ~/.kaggle/kaggle.json

In [6]:
!kaggle datasets download -d kunalgupta2616/hackerearth-customer-segmentation-hackathon

Downloading hackerearth-customer-segmentation-hackathon.zip to /content
100% 838k/838k [00:00<00:00, 1.25MB/s]
100% 838k/838k [00:00<00:00, 1.25MB/s]

In [8]:
!unzip hackerearth-customer-segmentation-hackathon.zip

Archive:  hackerearth-customer-segmentation-hackathon.zip
  inflating: avhacklive/SampleSubmission.csv
  inflating: avhacklive/Test.csv
  inflating: avhacklive/Train.csv

In [ ]:
!pip install pycaret

In [83]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import category_encoders as ce
from pycaret.classification import *
from imblearn.over_sampling import SMOTE

In [84]:
df_train = pd.read_csv("/content/avhacklive/Train.csv")
df_test = pd.read_csv("/content/avhacklive/Test.csv")
df_test_id = df_test["id"]

In [85]:
df_train

,id,customer_age,job_type,marital,education,default,balance,housing_loan,personal_loan,communication_type,day_of_month,month,last_contact_duration,num_contacts_in_campaign,days_since_prev_campaign_contact,num_contacts_prev_campaign,prev_campaign_outcome,term_deposit_subscribed
0,id_43823,28.0,management,single,tertiary,no,285.0,yes,no,unknown,26,jun,303.0,4.0,NaN,0,unknown,0
1,id_32289,34.0,blue-collar,married,secondary,no,934.0,no,yes,cellular,18,nov,143.0,2.0,132.0,1,other,0
2,id_10523,46.0,technician,married,secondary,no,656.0,no,no,cellular,5,feb,101.0,4.0,NaN,0,unknown,0
3,id_43951,34.0,services,single,secondary,no,2.0,yes,no,unknown,20,may,127.0,3.0,NaN,0,unknown,0
4,id_40992,41.0,blue-collar,married,primary,no,1352.0,yes,no,cellular,13,may,49.0,2.0,NaN,0,unknown,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31642,id_27290,58.0,admin.,married,secondary,no,567.0,yes,no,cellular,2,feb,99.0,2.0,265.0,3,other,0
31643,id_20428,51.0,management,married,tertiary,no,1072.0,no,no,unknown,20,jun,31.0,7.0,NaN,0,unknown,0
31644,id_44679,41.0,unemployed,married,primary,no,242.0,yes,no,unknown,23,may,89.0,2.0,NaN,0,unknown,0
31645,id_4841,48.0,services,married,secondary,no,2699.0,no,no,cellular,11,aug,216.0,6.0,NaN,0,unknown,0
31646,id_1723,38.0,technician,single,tertiary,no,1045.0,no,no,cellular,18,aug,183.0,10.0,NaN,0,unknown,0

In [86]:
df_test

,id,customer_age,job_type,marital,education,default,balance,housing_loan,personal_loan,communication_type,day_of_month,month,last_contact_duration,num_contacts_in_campaign,days_since_prev_campaign_contact,num_contacts_prev_campaign,prev_campaign_outcome
0,id_17231,55.0,retired,married,tertiary,no,7136.0,no,no,cellular,13,aug,90.0,2.0,NaN,0,unknown
1,id_34508,24.0,blue-collar,single,secondary,no,179.0,yes,no,cellular,18,may,63.0,2.0,NaN,0,unknown
2,id_44504,46.0,technician,divorced,secondary,no,143.0,no,no,cellular,8,jul,208.0,1.0,NaN,0,unknown
3,id_174,56.0,housemaid,single,unknown,no,6023.0,no,no,unknown,6,jun,34.0,1.0,NaN,0,unknown
4,id_2115,62.0,retired,married,secondary,no,2913.0,no,no,cellular,12,apr,127.0,1.0,188.0,1,success
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13559,id_42406,29.0,management,single,tertiary,no,717.0,yes,no,cellular,15,jun,94.0,1.0,NaN,0,unknown
13560,id_14483,NaN,blue-collar,married,secondary,no,604.0,yes,no,telephone,10,jul,155.0,1.0,NaN,0,unknown
13561,id_43066,45.0,blue-collar,married,primary,no,237.0,yes,no,unknown,16,may,231.0,4.0,NaN,0,unknown
13562,id_18375,52.0,admin.,married,primary,no,241.0,yes,no,cellular,13,may,243.0,2.0,299.0,5,failure
13563,id_12898,51.0,technician,married,unknown,no,368.0,yes,no,cellular,15,jul,102.0,2.0,NaN,0,unknown

In [87]:
df_train.isnull().sum()

id                                      0
customer_age                          619
job_type                                0
marital                               150
education                               0
default                                 0
balance                               399
housing_loan                            0
personal_loan                         149
communication_type                      0
day_of_month                            0
month                                   0
last_contact_duration                 311
num_contacts_in_campaign              112
days_since_prev_campaign_contact    25831
num_contacts_prev_campaign              0
prev_campaign_outcome                   0
term_deposit_subscribed                 0
dtype: int64

In [88]:
df_test.isnull().sum()

id                                      0
customer_age                          270
job_type                                0
marital                                81
education                               0
default                                 0
balance                               181
housing_loan                            0
personal_loan                          74
communication_type                      0
day_of_month                            0
month                                   0
last_contact_duration                 122
num_contacts_in_campaign               45
days_since_prev_campaign_contact    11123
num_contacts_prev_campaign              0
prev_campaign_outcome                   0
dtype: int64

In [89]:
df_train.dtypes

id                                   object
customer_age                        float64
job_type                             object
marital                              object
education                            object
default                              object
balance                             float64
housing_loan                         object
personal_loan                        object
communication_type                   object
day_of_month                          int64
month                                object
last_contact_duration               float64
num_contacts_in_campaign            float64
days_since_prev_campaign_contact    float64
num_contacts_prev_campaign            int64
prev_campaign_outcome                object
term_deposit_subscribed               int64
dtype: object

In [90]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13564 entries, 0 to 13563
Data columns (total 17 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                13564 non-null  object
 1   customer_age                      13294 non-null  float64
 2   job_type                          13564 non-null  object
 3   marital                           13483 non-null  object
 4   education                         13564 non-null  object
 5   default                           13564 non-null  object
 6   balance                           13383 non-null  float64
 7   housing_loan                      13564 non-null  object
 8   personal_loan                     13490 non-null  object
 9   communication_type                13564 non-null  object
 10  day_of_month                      13564 non-null  int64
 11  month                             13564 non-null  object
 12  last_contact_duration             13442 non-null  float64
 13  num_contacts_in_campaign          13519 non-null  float64
 14  days_since_prev_campaign_contact  2441 non-null   float64
 15  num_contacts_prev_campaign        13564 non-null  int64
 16  prev_campaign_outcome             13564 non-null  object
dtypes: float64(5), int64(2), object(10)
memory usage: 1.8+ MB

In [91]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31647 entries, 0 to 31646
Data columns (total 18 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                31647 non-null  object
 1   customer_age                      31028 non-null  float64
 2   job_type                          31647 non-null  object
 3   marital                           31497 non-null  object
 4   education                         31647 non-null  object
 5   default                           31647 non-null  object
 6   balance                           31248 non-null  float64
 7   housing_loan                      31647 non-null  object
 8   personal_loan                     31498 non-null  object
 9   communication_type                31647 non-null  object
 10  day_of_month                      31647 non-null  int64
 11  month                             31647 non-null  object
 12  last_contact_duration             31336 non-null  float64
 13  num_contacts_in_campaign          31535 non-null  float64
 14  days_since_prev_campaign_contact  5816 non-null   float64
 15  num_contacts_prev_campaign        31647 non-null  int64
 16  prev_campaign_outcome             31647 non-null  object
 17  term_deposit_subscribed           31647 non-null  int64
dtypes: float64(5), int64(3), object(10)
memory usage: 4.3+ MB

**Handling Missing Values**

In [92]:
def get_MissingValues(df):
    cols = []
    column_with_nan = df.columns[df.isnull().any()]
    for column in column_with_nan:
        percent_missing = round(df[column].isnull().mean()*100,2)        
        cols.append({'colname':column,'percentage':percent_missing,'featureDtype':str(df[column].dtype)})  
    
    if len(cols) > 0:     
        # Creates DataFrame. 
        print(f'{len(cols)} features have missing value')
        missingDF = pd.DataFrame(cols).sort_values(by=['percentage'], ascending=False)
    else:
        missingDF = "No missingValues"
        
    return missingDF

In [93]:
train_missing_df = get_MissingValues(df_train)
train_missing_df.head(train_missing_df.shape[0])

7 features have missing value

                            colname  percentage featureDtype
6  days_since_prev_campaign_contact       81.62      float64
0                      customer_age        1.96      float64
2                           balance        1.26      float64
4             last_contact_duration        0.98      float64
1                           marital        0.47       object
3                     personal_loan        0.47       object
5          num_contacts_in_campaign        0.35      float64

In [94]:
test_missing_df = get_MissingValues(df_test)
test_missing_df.head(test_missing_df.shape[0])

7 features have missing value

                            colname  percentage featureDtype
6  days_since_prev_campaign_contact       82.00      float64
0                      customer_age        1.99      float64
2                           balance        1.33      float64
4             last_contact_duration        0.90      float64
1                           marital        0.60       object
3                     personal_loan        0.55       object
5          num_contacts_in_campaign        0.33      float64

In [95]:
df_train.drop('days_since_prev_campaign_contact',axis=1,inplace=True)
df_test.drop('days_since_prev_campaign_contact',axis=1,inplace=True)

In [96]:
df_train.drop('id',axis=1,inplace=True)
df_test.drop('id',axis=1,inplace=True)

In [97]:
df_train["marital"] = df_train["marital"].fillna("unknown")
df_test["marital"] = df_test["marital"].fillna("unknown")

In [98]:
df_train["personal_loan"]=df_train["personal_loan"].fillna("unknown")
df_test["personal_loan"]=df_test["personal_loan"].fillna("unknown")

In [99]:
def one_hot_encoding(df,col):
    one_hot_encoder=ce.OneHotEncoder(cols=col,return_df=True,use_cat_names=True)
    df_final = one_hot_encoder.fit_transform(df)
    return df_final

In [100]:
for i in df_train.columns:
    if i == "term_deposit_subscribed":
        continue
    if df_train[i].dtypes == "object" and i !="id":
        # print(i)
        df_train[i].fillna("unknown",inplace=True)
        df_train = one_hot_encoding(df_train,i)
        # print(len(df_train[i].value_counts()))
    elif df_train[i].isnull().sum()>0: 
        if i == "num_contacts_in_campaign":
            df_train[i].fillna(1.0,inplace=True)
        else:
            df_train[i].fillna(round(df_train[i].mean()),inplace=True)
    
    if df_test[i].dtypes == "object" and i !="id":
        # print(i)
        df_test[i].fillna("unknown",inplace=True)
        df_test = one_hot_encoding(df_test,i)
         # print(len(df_test[i].value_counts()))
    elif df_test[i].isnull().sum()>0: 
        if i == "num_contacts_in_campaign":
            df_test[i].fillna(1.0,inplace=True)
        else:
            df_test[i].fillna(round(df_test[i].mean()),inplace=True)

In [101]:
df_train.isnull().sum()

customer_age                     0
job_type_management              0
job_type_blue-collar             0
job_type_technician              0
job_type_services                0
job_type_retired                 0
job_type_entrepreneur            0
job_type_admin.                  0
job_type_student                 0
job_type_housemaid               0
job_type_self-employed           0
job_type_unknown                 0
job_type_unemployed              0
marital_single                   0
marital_married                  0
marital_divorced                 0
marital_unknown                  0
education_tertiary               0
education_secondary              0
education_primary                0
education_unknown                0
default_no                       0
default_yes                      0
balance                          0
housing_loan_yes                 0
housing_loan_no                  0
personal_loan_no                 0
personal_loan_yes                0
personal_loan_unknown            0
communication_type_unknown       0
communication_type_cellular      0
communication_type_telephone     0
day_of_month                     0
month_jun                        0
month_nov                        0
month_feb                        0
month_may                        0
month_apr                        0
month_aug                        0
month_jul                        0
month_jan                        0
month_oct                        0
month_sep                        0
month_mar                        0
month_dec                        0
last_contact_duration            0
num_contacts_in_campaign         0
num_contacts_prev_campaign       0
prev_campaign_outcome_unknown    0
prev_campaign_outcome_other      0
prev_campaign_outcome_failure    0
prev_campaign_outcome_success    0
term_deposit_subscribed          0
dtype: int64

**Customer Segment prediction**

In [102]:
X_train = df_train.drop("term_deposit_subscribed",axis = 1)
Y_train = df_train["term_deposit_subscribed"]

In [103]:
smote = SMOTE()
X_train, Y_train = smote.fit_resample(X_train, Y_train)

In [104]:
Y_train.value_counts()

0    28253
1    28253
Name: term_deposit_subscribed, dtype: int64

In [105]:
df_train_smoted = X_train
df_train_smoted["term_deposit_subscribed"] = Y_train

In [106]:
experiment = setup(df_train_smoted,target = "term_deposit_subscribed",imputation_type="iterative")

In [107]:
# compare_models()
mod = create_model("rf")

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

In [108]:
df_train

,customer_age,job_type_management,job_type_blue-collar,job_type_technician,job_type_services,job_type_retired,job_type_entrepreneur,job_type_admin.,job_type_student,job_type_housemaid,...,month_mar,month_dec,last_contact_duration,num_contacts_in_campaign,num_contacts_prev_campaign,prev_campaign_outcome_unknown,prev_campaign_outcome_other,prev_campaign_outcome_failure,prev_campaign_outcome_success,term_deposit_subscribed
0,28.0,1,0,0,0,0,0,0,0,0,...,0,0,303.0,4.0,0,1,0,0,0,0
1,34.0,0,1,0,0,0,0,0,0,0,...,0,0,143.0,2.0,1,0,1,0,0,0
2,46.0,0,0,1,0,0,0,0,0,0,...,0,0,101.0,4.0,0,1,0,0,0,0
3,34.0,0,0,0,1,0,0,0,0,0,...,0,0,127.0,3.0,0,1,0,0,0,0
4,41.0,0,1,0,0,0,0,0,0,0,...,0,0,49.0,2.0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31642,58.0,0,0,0,0,0,0,1,0,0,...,0,0,99.0,2.0,3,0,1,0,0,0
31643,51.0,1,0,0,0,0,0,0,0,0,...,0,0,31.0,7.0,0,1,0,0,0,0
31644,41.0,0,0,0,0,0,0,0,0,0,...,0,0,89.0,2.0,0,1,0,0,0,0
31645,48.0,0,0,0,1,0,0,0,0,0,...,0,0,216.0,6.0,0,1,0,0,0,0
31646,38.0,0,0,1,0,0,0,0,0,0,...,0,0,183.0,10.0,0,1,0,0,0,0

In [109]:
df_test

,customer_age,job_type_retired,job_type_blue-collar,job_type_technician,job_type_housemaid,job_type_self-employed,job_type_management,job_type_admin.,job_type_unemployed,job_type_entrepreneur,...,month_feb,month_oct,month_dec,last_contact_duration,num_contacts_in_campaign,num_contacts_prev_campaign,prev_campaign_outcome_unknown,prev_campaign_outcome_success,prev_campaign_outcome_failure,prev_campaign_outcome_other
0,55.0,1,0,0,0,0,0,0,0,0,...,0,0,0,90.0,2.0,0,1,0,0,0
1,24.0,0,1,0,0,0,0,0,0,0,...,0,0,0,63.0,2.0,0,1,0,0,0
2,46.0,0,0,1,0,0,0,0,0,0,...,0,0,0,208.0,1.0,0,1,0,0,0
3,56.0,0,0,0,1,0,0,0,0,0,...,0,0,0,34.0,1.0,0,1,0,0,0
4,62.0,1,0,0,0,0,0,0,0,0,...,0,0,0,127.0,1.0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13559,29.0,0,0,0,0,0,1,0,0,0,...,0,0,0,94.0,1.0,0,1,0,0,0
13560,40.0,0,1,0,0,0,0,0,0,0,...,0,0,0,155.0,1.0,0,1,0,0,0
13561,45.0,0,1,0,0,0,0,0,0,0,...,0,0,0,231.0,4.0,0,1,0,0,0
13562,52.0,0,0,0,0,0,0,1,0,0,...,0,0,0,243.0,2.0,5,0,0,1,0
13563,51.0,0,0,1,0,0,0,0,0,0,...,0,0,0,102.0,2.0,0,1,0,0,0